.App {
  text-align: center;
  display: flex;

}
.container{
  display: flex;
  justify-content: center;
}
.btn{
  width: full;
}
.sidebar{
  display: flex;
  width: 30%;
  background-color: rgb(41, 41, 41);

}

.App-header {
  width: 100%;
  background-color: #575757;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
